<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Add A button which says 'Display Details'</li> <!-- done -->
                <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li> <!--done-->
                <li>Toggle the displaying of that paragraph with the button created in the first step</li> <!--done-->
                <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li><!--done-->
                <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li><!--done-->
            </ol>
            <button class="btn btn-primary" (click)="togglePara()">Display Details</button>
            <p *ngIf="paragraphToggle">Secret Password = tuna</p>
            <div 
                *ngFor="let logItem of clickLog; let i = index"
                [ngClass]="{'color-white': i >= 4}"
                [ngStyle]="{backgroundColor: i>=4 && 'blue'}"
            >{{ logItem }}</div>
        </div>
    </div>
</div>